<section class="c-block-content">
    <div class="container-outter">
        <div class="container-wrapper">
            <div class="container">
                {{ content|e('wp_kses_post') }}
            </div>
        </div>
    </div>
</section>