<section class="c-block-button-link">
    <div class="container-outter">
        <div class="container-wrapper">
            <div class="container">
                <a href="{{ link.url }}" class="o-button o-button--blue">{{ link.title }}</a>
            </div>
        </div>
    </div>
</section>