<section class="c-block-text">
    <div class="container-outter">
        <div class="container-wrapper">
            <div class="container">
                <p>{{ text|e('wp_kses_post') }}</p>
            </div>
        </div>
    </div>
</section>