<section class="c-block-quote">
    <div class="container-outter">
        <div class="container-wrapper">
            <div class="container">
                <div class="c-block-quote__content">
                    <p>{{ content|e('wp_kses_post') }}</p>
                </div>
                <div class="c-block-quote__author">{{ author|e('wp_kses_post') }}</div>
            </div>
        </div>
    </div>
</section>